@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CustomFont";
    src: url("/images/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.animate-slide-up {
    animation: slideIn 0.5s ease-in-out forwards;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
